
body {
    background-color: #023859;
    
    
}

footer {
    font-family: filson-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    opacity: .5;
    font-size: 15px;
    text-align: center;
    width: 100vw;
    margin-bottom: 5px;
}

.logo {
    position: absolute; 
}


h1 {
    font-family: filson-soft, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #8AB206;
    font-size: 45px;
    padding-left: 50px;
    width: 400px;
}

h4 {
    top: 205px;
    width: 100vw;
    position: absolute;
    text-align: center;
    font-family: filson-soft, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: white;
    font-size: 15px;
}


#link1, #link2, #link3 {
    font-family: filson-soft, sans-serif;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    color: white;
    font-size: 20px;
    padding-left: 150px;
    text-decoration: none;
    
}

.headerlinks {
    width: 95vw;
    height: 130px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}

.names {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


.animals {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.ani {
    margin: 10px;
    width: 400px;
    height: 300px; 
    background-color: white;
}

.elephant1, .polarbear1, .monarch1, .panda1, .tiger1, .turtle1, .gorilla1, .cheetah1, .penguin1, .bee1, .koala1, .manatee1 {
    position: relative;
    width: 100%;
    height: 100%; 
    opacity: .3;
    transition: opacity;
    z-index: 1;
}

.elephant1:hover, .polarbear1:hover, .monarch1:hover, .panda1:hover, .tiger1:hover, .turtle1:hover, .gorilla1:hover, .cheetah1:hover, .penguin1:hover, .bee1:hover, .koala1:hover, .manatee1:hover {
    opacity: 1;

}


.elephanttext, .polarbeartext, .monarchtext, .pandatext, .tigertext, .turtletext, .gorillatext, .cheetahtext, .penguintext, .beetext, .koalatext, .manateetext {
    top: -175px;
    position: relative;
    text-align: center;
    font-family: filson-soft, sans-serif;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    color: #023859;
    font-size: 30px;
    z-index: 5;
    pointer-events: none;
}

.sun {
    position: absolute;
    top: 170px;
    left: 1290px;
    width: 150px;
    z-index: 98;
}


#blob1 {
    position: relative;
    top: -625px;
    left: 50vw;
    z-index: 1;
    width: 650px;
}

.midsection {
    display: flex;
    flex-direction: row;
    top: -100px;
}

#transparent1 {
    position: relative;
    top: -750px;
    left: 12vw;
    z-index: 99;
}

h2 {
    position: relative;
    font-family: filson-soft, sans-serif;
    font-weight: 700;
    text-align: center;
    font-style: normal;
    color: white;
    font-size: 50px;
    z-index: 3;
    margin-top: 10px;
}

p {
    top: -20px;
    left: 15vw;
    width: 30vw;
    height: 500px;
    display: block;
    position: relative;
    font-family: filson-soft, sans-serif;
    font-weight: 300;
    text-align: justify;
    font-style: normal;
    color: white;
    font-size: 15px;
    z-index: 8;
}      

.colorbox {
    top: -800px;
    position: relative;
    width: 100vw; 
    height: 900px;
    z-index: 200;
    background-color: #8ab006;
}

#circle {
    position: absolute;
    top: 50px;
    width: 50px;
    left: 15vw;
    height: 50px; 
    border-radius: 100px;
    background-color: #105963;
    z-index: 100;
    font-family: filson-soft, sans-serif;
    font-weight: 500;
    color: #8AB206;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    font-style: normal;
}

.grass {
    position: relative;
    top: -215px;
    left: 0px;
    width: 100vw;
    height: auto;
    z-index: 100;
}

.arrow1 {
    position: relative;
    top: 220px;
    width: 50px;
    left: 92vw
}

.arrow2 {
  position: relative;
  top: 220px;
  width: 50px;
  left: -10px;  
  transform: rotate(180deg);
}

#status {

    left: 350px;
    top: 20px;
    position: absolute;
    font-family: filson-soft, sans-serif;
    font-weight: 500;
    color: white;
    font-size: 18px;
    line-height: 50px;
    font-style: normal; 
    z-index: 109; 
}

#status2 {
    left: 350px;
    top: 48px;
    position: absolute;
    font-family: filson-soft, sans-serif;
    font-weight: 300;
    color: white;
    font-size: 16px;
    line-height: 50px;
    font-style: normal; 
    z-index: 111; 
}

.earth {
    position: absolute;
    width: 50px;
    top: 50px;
    left: 700px;
}

.fishbowl {

    position: absolute;
    width: 50px;
    top: 50px;
    left: 1125px;
}



#pop {
   top: 20px;
    position: absolute;
    left: 775px;
    font-family: filson-soft, sans-serif;
    font-weight: 500;
    color: white;
    font-size: 18px;
    line-height: 50px;
    font-style: normal; 
    z-index: 110;  
}

#pop2 {
   top: 48px;
    position: absolute;
    left: 775px;
    font-family: filson-soft, sans-serif;
    font-weight: 300;
    color: white;
    font-size: 16px;
    line-height: 50px;
    font-style: normal; 
    z-index: 110;  
}


#habitat {
   top: 20px;
    position: absolute;
    left: 1200px;
    font-family: filson-soft, sans-serif;
    font-weight: 500;
    color: white;
    font-size: 18px;
    line-height: 50px;
    font-style: normal; 
    z-index: 110;  
}

#habitat2 {
   top: 48px;
    position: absolute;
    left: 1200px;
    font-family: filson-soft, sans-serif;
    font-weight: 300;
    color: white;
    font-size: 16px;
    line-height: 50px;
    font-style: normal; 
    z-index: 110;  
}

#threats {
    position: absolute;
    top: 100px;
    left: 15vw;
    font-family: filson-soft, sans-serif;
    font-weight: 800;
    color: white;
    font-size: 50px;
    line-height: 50px;
    font-style: normal; 
}


#threats2 {
    position: absolute;
    top: 195px;
    left: 15vw;
    font-family: filson-soft, sans-serif;
    font-weight: 300;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-style: normal; 
}


#hab {
    top: 25px;
    left: 15vw;
    width: 67vw;
    font-family: filson-soft, sans-serif;
    font-weight: 300;
    text-align: justify;
    font-style: normal;
    color: white;
    font-size: 15px;
}


#climate {
    position: absolute;
    top: 360px;
    left: 15vw;
    font-family: filson-soft, sans-serif;
    font-weight: 300;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-style: normal; 
}


#climate2 {
    position: absolute;
    top: 410px;
    left: 15vw;
    width: 67vw;
    font-family: filson-soft, sans-serif;
    font-weight: 300;
    text-align: justify;
    font-style: normal;
    color: white;
    font-size: 15px;
}



#help {
    position: absolute;
    top: 1600px;
    z-index: 1000;
    left: 15vw;
    font-family: filson-soft, sans-serif;
    font-weight: 800;
    color: white;
    font-size: 50px;
    line-height: 50px;
    font-style: normal; 
    z-index: 125;
}

.wave {
    position: absolute;
    top: 650px;
    width: 100vw;
    height: 300px;
    z-index: 120;
}


.help1 {
    position: absolute;
    top: 1800px;
    left: 15vw;
    background-color: white;
    width: 380px;
    height: 300px;
    margin-right: : 20px;
    border-radius: 10px;
}

.help2 {
    position: absolute;
    top: 1800px;
    left: 675px;
    background-color: white;
    width: 380px;
    height: 300px;
    margin-right: : 20px;
    border-radius: 10px;
}

.help3 {
    position: absolute;
    top: 1800px;
    left: 1080px;
    background-color: white;
    width: 380px;
    height: 300px;
    margin-right: : 20px;
    border-radius: 10px;
}



#phone {
    position: relative;
    top: 20px;
    left: 140px;
    width: 100px;
}

#reps {
    position: relative;
    top: 10px;
    text-align: center;
    width: 380px;
    font-family: filson-soft, sans-serif;
    font-weight: 400;
    color: #023859;
    font-size: 20px;
}


#reps2 { 
    position: relative;
    left: 30px;
    top: 10px;
    text-align: center;
    width: 320px;
    font-family: filson-soft, sans-serif;
    font-weight: 400;
    color: #023859;
    font-size: 15px;
 }

 #recycle {
    position: relative;
    top: 20px;
    left: 140px;
    width: 100px;
}

#rec {
    position: relative;
    top: 10px;
    text-align: center;
    width: 380px;
    font-family: filson-soft, sans-serif;
    font-weight: 400;
    color: #023859;
    font-size: 20px;
}


#rec2 { 
    position: relative;
    left: 30px;
    top: 10px;
    text-align: center;
    width: 320px;
    font-family: filson-soft, sans-serif;
    font-weight: 400;
    color: #023859;
    font-size: 15px;
 }

#heart {
    position: relative;
    top: 20px;
    left: 140px;
    width: 100px;
}

#donate {
    position: relative;
    top: 10px;
    text-align: center;
    width: 380px;
    font-family: filson-soft, sans-serif;
    font-weight: 400;
    color: #023859;
    font-size: 20px;
}


#donate2 { 
    position: relative;
    left: 30px;
    top: 10px;
    text-align: center;
    width: 320px;
    font-family: filson-soft, sans-serif;
    font-weight: 400;
    color: #023859;
    font-size: 15px;
 }