img {
  position: relative;
  height: 725px;
  width: auto;
  z-index: 1;
  display: block;
  top: 105px;
  margin-left: auto;
  margin-right: auto;
}


#about {
  position: relative;
  width: 950px;
  top: 300px;
  font-family: gravesend-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  z-index: 16;
}

#box {
  position: relative;
  left: 40px;
  top: 575px;
  width: 200px;
  height: 50px;
  background-color: #000000;
  z-index: 8
}

#box2 {
  position: relative;
  left: 40px;
  top: 625px;
  width: 200px;
  height: 50px;
  background-color: #000000;
  z-index: 8
}

#box3 {
  position: relative;
  left: 40px;
  top: 605px;
  width: 200px;
  height: 50px;
  background-color: #000000;
  z-index: 8
}

#box4 {
  position: relative;
  left: 40px;
  top: 635px;
  width: 200px;
  height: 50px;
  background-color: #000000;
  z-index: 8
}

#box5 {
  position: relative;
  left: 40px;
  top: 605px;
  width: 200px;
  height: 50px;
  background-color: #000000;
  z-index: 8
}


#anthem, #ubik, #tourist, #myth, #stranger {
  position: relative;
  width: 200px;
  font-family: freight-text-pro, serif;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  display: block;
  z-index: 2;
}

#anthem {
   top: 550px;
  left: 40px;
}

#ubik {
  top: 605px;
  left: 40px;
}

#tourist {
  top: 580px;
  left: 40px;
}

#myth {
  top: 606px;
  left: 40px;
}

#stranger {
  top: 580px;
  left: 40px;
}

p {
  
  position: relative;
  width: 600px;
  z-index: 1;
  display: block;
  top: 327px;
  margin-left: auto;
  margin-right: auto;
  font-family: freight-text-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

h3 {
  position: relative;
 font-family: gravesend-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 500px;
  font-size: 25px;
  line-height: 30px;
  z-index: 90;
    

}


h4 {
 font-family: gravesend-sans, sans-serif;
font-weight: 500;
font-style: normal;
  color: white;
  font-size: 12px;
}

h2 {
  font-family: gravesend-sans, sans-serif;
font-weight: 500;
font-style: normal;
  color: #6b1a1a;
    
}

#descr{
  position: relative;
  width: 950px;
  font-family: freight-text-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
  display: block;
  z-index: 2;
  top: 275px;
  margin-left: auto;
  margin-right: auto;

}


#reflection {
  position: relative;
  width: 950px;
  font-family: freight-text-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
  display: block;
  z-index: 2;
  top: 350px;
  margin-left: auto;
  margin-right: auto;
    
}

#descr2, #about {
  position: relative;
  width: 950px;
  top: -25px;
  font-family: gravesend-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  z-index: 16;

}

#circle {

  display: block;
  top: 40px;
  left: 1690px;
  height: 60px;
  width: 60px;
  background-color: #000000;
  z-index: 40;
  text-align: center;
  padding-top: 12px;
  font-family: freight-text-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  color: white;
}

#fact1, #fact3, #fact4 {
  background-color: black;
  width: 300px;
  height: 500px;
  display: block;
  z-index: 200;
  top: 40px;
  left: 1450px;
  display: none;
  font-family: freight-text-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  padding: 20px;
  text-align: justify;
  color: white;
}

#fact2 {
    
  background-color: black;
  width: 300px;
  height: 387px;
  display: block;
  z-index: 200;
  top: 40px;
  left: 1450px;
  display: none;
  font-family: freight-text-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  padding: 20px;
  text-align: justify;
  color: white;  
}

#fact5 {
  background-color: black;
  width: 300px;
  height: 420px;
  display: block;
  z-index: 200;
  top: 40px;
  left: 1450px;
  display: none;
  font-family: freight-text-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  padding: 20px;
  text-align: justify;
  color: white;  
}

#font1, #font2, #font5 {
    position: relative;
    top: 25px;
    width: 220px;
    height: auto;
}

#font4 {
    position: relative;
    top: 15px;
    width: 220px;
    height: auto;
}

#font3, #font2 {
    position: relative;
    top: 15px;
    width: 220px;
    height: auto;
}

#circle:active + #fact1, #circle2:active + #fact2, #circle3:active + #fact3, #circle4:active + #fact4, #circle5:active + #fact5 {
   display: block;
}

#circle2, #circle3, #circle4, #circle5 {

  display: block;
  top: 40px;
  left: 1690px;
  height: 60px;
  width: 60px;
  background-color: #000000;
  z-index: 40;
  text-align: center;
  padding-top: 12px;
  font-family: freight-text-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  color: white;
}

#font33, #font22 {
   position: relative;
    top: 25px;
    width: 220px;
    height: auto; 
}

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: freight-text-pro, serif;
  color: #ffffff;
  background-color: #992323;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a {
  color: #267481;
  text-decoration: none;
}

h2:first-of-type {
    opacity: 0;
}

#title {
  top: 325px;
  position: relative;
  font-family: gravesend-sans, sans-serif;
  width: 100vw;
  font-weight: 700;
  font-style: normal;
  font-size: 200px;
  color: white;
  z-index: 200;
  text-align: center;
  line-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fadeInAnimation ease 3s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}


@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 


h5 {
  position: relative;
  font-family: freight-text-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  color: #ffffff;
  z-index: 6;
  text-align: center;
  top: 375px;
}
/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;
}
.cd-section h2 {
  line-height: 100vh;
  text-align: center;
  font-size: 10rem;
    
    
}
.cd-section:first-of-type > div {
  background-color: #2b334f;
}
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}
.cd-section:nth-of-type(2) > div {
  background-color: #6b1a1a;
}
.cd-section:nth-of-type(3) > div {
  background-color: #992323;
}
.cd-section:nth-of-type(4) > div {
  background-color: #6b1a1a;
}
.cd-section:nth-of-type(5) > div {
  background-color: #992323;
    
}

.cd-section:nth-of-type(6) > div {
  background-color: #6b1a1a;
} 

.cd-section:nth-of-type(7) > div {
  background-color: #992323;
} 

.cd-section:nth-of-type(8) > div {
  background-color: #6b1a1a;
} 

.cd-section:nth-of-type(9)) > div {
  background-color: #992323;
} 

[data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="parallax"] .cd-section:first-of-type > div, [data-animation="fixed"] .cd-section:first-of-type > div, [data-animation="opacity"] .cd-section:first-of-type > div {
  background-image: url("../img/books2.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(2) > div, [data-animation="fixed"] .cd-section:nth-of-type(2) > div, [data-animation="opacity"] .cd-section:nth-of-type(2) > div {
  background-image: url();
}
[data-animation="parallax"] .cd-section:nth-of-type(3) > div, [data-animation="fixed"] .cd-section:nth-of-type(3) > div, [data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url();
}
[data-animation="parallax"] .cd-section:nth-of-type(4) > div, [data-animation="fixed"] .cd-section:nth-of-type(4) > div, [data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url();
}
[data-animation="parallax"] .cd-section:nth-of-type(5) > div, [data-animation="fixed"] .cd-section:nth-of-type(5) > div, [data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url();
}
@media only screen and (min-width: 1050px) {
  .cd-section h2 {
    font-size: 4rem;
    font-weight: 300;
  }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
    opacity: 0;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/cd-icon-arrow.svg) no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}
